.Info {
    border-bottom: 1px solid #ddd;
}

.Info a:first-child {
    color: var(--color2);
}

.Info > * {
    margin: 10px 0;
}

.Info h1 {
    color: var(--color3);
}

.Resources {
    list-style-type: square;
}
.Resources li {
    margin: 10px 0;
}
.Resources a {
    color: var(--color2);
}

.Info p, .Info .Resources {
    color: #333;
}

.Content {
    color: #333;
}
.Content p:first-child {
    /* This is for the jotting note paragraph */
    font-size: 14;
    color: #aaa;
}

.Content ul {
    padding: 0 10px 0 30px;
    list-style-type: unset;
}